body
{
    font-size: 12px;
    font-family: "Arial";
    background-position: center;
}
div
{
    word-break: break-all;
}
INPUT
{
    border-width: 1px;
    border-color: #c0c0c0;
    padding: 1px;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    font-size: 12px;
}
table
{
    border: 1px solid;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size:12px;
}
td
{
    border: 1px solid;
}
.div_CB
{
    clear: both;
}

.div_f_f
{
    float: left;
}
.owd
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.l-h20
{
    line-height: 20px;
}

.pageDiv
{
    width: 760px;
    background-color: White;
}
.tabTitle
{
    border: 1px groove #FFFFFF;
    background-color: #008080;
    color: #FFFFFF;
    text-align: center;
}
.HLStyleText
{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.fullW
{
    width: 100%;
}

