body {
}

#div_zhiri
{
	width:98%;
	margin:5px 10px 20px 10px;
	border:1px solid #e9eef2;
}
#div_top
{
	width:100%;
	height:30px;
	background-color:#e9eef2;
}
.top_left
{
	width:3%;
	height:30px;
	float:left;
	border-right:1px solid #bbb;
}
.top_right
{
	width:78%;
	height:30px;
	float:left;
	line-height:30px;
	color:#2d779c;
	font-weight:bold;
	padding-left:5px;
	border:0px dotted grey;
}
.top_right2
{
	width:80px;
	height:30px;
	float:left;
	line-height:30px;
	color:#2d779c;
	font-weight:bold;
	padding-left:5px;
	border-left:1px solid #bbb;
}
.clear
{
	clear:both;
}

#week
{
	width:906px;
	color:#2d779c;
	font-weight:bold;	
	text-align:center;
	background-color:#e4f3fa;
	border:1px solid #5494ad;
}
.week_head
{
	width:150px;
	height:30px;
	float:left;
	line-height:30px;
	background-color:#8ccbea;
	border-left:1px solid #5494ad;
	border-bottom:1px solid #5494ad;
}
.week_middle
{
	width:140px;
	height:200px;
	float:left;
	text-align:left;
	line-height:30px;
	padding-left:10px;
	padding-top:10px;
	border-left:1px solid #5494ad;
}
.week_middle_title
{
	width:30px;
	height:auto;
	padding-top:35px;
	margin-left:58px;
	line-height:30px;
	border:0px dotted grey;
}
.week_bottom
{
	width:100%;/*900px*/
	height:80px;
	text-align:left;
	border-top:1px solid #5494ad;
	border-left:1px solid #5494ad;
}
.week_bottom_left
{
	width:10%;
	height:80px;
	float:left;
	border:0px dotted grey;
}
.week_bottom_right
{
	width:89%;
	height:80px;
	float:right;
	border:0px dotted grey;
}

#tiaoke
{
	width:90%;
	color:#2d779c;
	font-weight:bold;	
	text-align:center;
	background-color:#e4f3fa;
	border:1px solid #5494ad;
}
.tiaoke_date
{
	width:100%;/*900px*/
	height:30px;
	text-align:left;
	border-top:1px solid #5494ad;
	border-left:1px solid #5494ad;
}
.tiaoke_date_left
{
	width:6%;
	height:30px;
	float:left;
	line-height:30px;
	border:0px dotted grey;
}
.tiaoke_date_right
{
	width:93%;
	height:30px;
	float:right;
	line-height:30px;
	font-weight:normal;
	border:0px dotted grey;
}
.tiaoke_text
{
	width:100%;/*900px*/
	height:260px;
	text-align:left;
	border-top:1px solid #5494ad;
	border-left:1px solid #5494ad;
}
.tiaoke_text_left
{
	width:6%;
	height:260px;
	float:left;
	line-height:30px;
	border:0px dotted grey;
}
.tiaoke_text_right
{
	width:93%;
	height:260px;
	float:right;
	line-height:30px;
	font-weight:normal;
	border:0px dotted grey;
}


.txtzhiri
{
	width:140px;
	height:180px;
	margin:5px;
	background-color:#e4f3fa;
}

.tdzhiri
{
	width:90%;
	margin-bottom:30px;
	color:#2d779c;
	font-weight:bold;
	border-bottom:2px solid #73a5bc;
}
#div_main table table
{
	background-color:#e4f3fa;
}

/* 学生、家长考试信息显示 */
.testinfo
{
	width:80%;
	color:#2d779c;
	border-right:1px solid #73a5bc;
}
.head_table
{}
.head_table th
{
	height:40px;
	padding:5px 0;
	text-align:center;
	font-size:18px;
	border-left:1px solid #73a5bc; 
	border-bottom:1px solid #73a5bc; 
	background:#fdfdfd url() repeat-x bottom;
}
.head_table td
{
	height:30px;
	padding:8px 10px; 
	text-align:center; 
	font-size:0.75em;
	border-left:1px solid #73a5bc; 
	border-bottom:1px solid #73a5bc; 
	background:#fdfdfd url() repeat-x bottom;
}


/* 签名样式 */
.sign
{
	width:100%;
	height:30px;
	float:right;
	line-height:30px;
	text-align:right;
	padding-right:20px;
	font-weight:normal;
	border:0px dotted grey;
}
.sign i
{
	font-family:方正舒体;
	font-size:22px;
}
.sign_style1
{
	font-family:方正舒体;
	font-size:20px;
	font-weight:lighter;	
}

/* 学生评价教师评价页样式 */
#div_pingjia
{
	width:100%;
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	border:0px dotted red;
}
.pingjia
{
	width:80%;/*900px*/
	height:300px;
	margin-left:10%;
	border-top:1px solid #5494ad;
	border-left:1px solid #5494ad;
	border:1px solid #bbb;
}
.pingjia_left
{
	width:20%;
	height:280px;
	float:left;
	line-height:30px;
	border:0px solid #bbb;
}
.pingjia_right
{
	width:78%;
	height:100%;
	float:left;
	border-left:1px solid #bbb;
}
.pingjia_left_head
{
	width:100%;
	text-align:center;
	border-bottom:1px solid #bbb;
}
.pingjia_left_tname
{
	width:50%;
	float:left;
	text-align:center;
	border-bottom:1px solid #bbb;
}
.pingjia_right table
{
	border-color:#e0e0e0;
}
.pingjia_right th		
{ 
	width:100px;
	border-color:#e0e0e0; 
	background:#fafbfd; 
	color:#114488;
	text-align:right;
	line-height:30px;
	font-weight:normal;
}
.pingjia_right td		
{ 
	border-color:#e0e0e0; 
	background:#fff;
	text-align:left;
	line-height:30px;
}
.pingjia_right th b
{
	color:Red;
}

/* 教师查看学生评价 */
.pingjia_head
{
	width:80%;/*900px*/
	margin-left:10%;
	padding:10px;
	text-align:left;
	line-height:30px;
	color:#2d779c;
	border:1px solid #5494ad;
}
.pingjia_sum{}
.pingjia_sum select
{
	width:95%;
	height:200px;
	padding-left:10px;
	padding-top:5px;
	line-height:25px;
	color:#999;
	font-size:18px;
}

/* 答疑信息显示页面 */
.txttitle
{
	width:520px; 
	height:25px;
	line-height:25px;
	padding-left:5px;
	border:1px solid #bbb;
}
.txtcontent
{
	width:520px; 
	height:auto; 
	line-height:25px;
	padding-left:5px;
	border:1px solid #bbb;
}
