/* CSS Document */

body{
	background:url(../images/08.gif) top center repeat-x #f4f4f4; 
	font-family: "微软雅黑"; 
	color:#000; 
	margin:0; 
	padding:0; 
	font-size:12px; 
	line-height:22px; 
	overflow-x:hidden;
}
ul,li,ol,dl,dt,dd{padding:0; margin:0; list-style:none;}
div,span,p,strong,input,textarea{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal; line-height:auto;}
a:link{color:#313232; text-decoration:none;}
a:visited{color:#313232; text-decoration:none;}
a:active{color:#313232; text-decoration:none;}
a:hover{color:#fcb712; text-decoration:none;}
img{border:none;}
.maright{margin:0 20px 0 0 ;}

#head{height:139px; width:980px; margin:0 auto; position:relative;}
#head .logo{ position:absolute; top:66px;}
#head .welcome{ position:absolute; top:2px; right:10px;}
#head .welcome a{ margin:0 5px;}
#head .nav{height:112px; width:594px; float:right; background:url(../images/07.gif) left center no-repeat; position:absolute; top:27px; right:0;}
#head .nav li{float:left; margin:0 0 0 25px;}
#head .nav li a{display:block; height:112px; font-size:14px; font-weight:bold; color:#000; line-height:112px; width:120px; text-align:center;}

#head .shad01{ position:absolute; top:20px; left:-300px;}
#head .shad02{ position:absolute; top:400px; right:-400px;}

/* 登录页样式*/
#head2{height:80px; width:980px; margin:0 auto 30px; position:relative; border-bottom:1px solid #eee;}
#head2 .logo{ position:absolute; top:10px;}
#head2 .welcome{ position:absolute; top:10px; right:10px;}

.account{width:980px; margin:0 auto; border-bottom:1px solid #eee; overflow:hidden; font-family:"微软雅黑"; padding:0 0 20px 0;}
.account .dl{width:500px; float:left; border-right:1px solid #eee;}
.account .dl h2{ line-height:20px; padding:0 0 20px 0;}
.account .dl .name{ font-size:14px; margin:0 0 9px 0;}
.account .dl .name span{width:80px; display:block; float:left; line-height:36px;}
.account .dl .name input{width:240px; border:1px solid #d5cec9; height:36px; background-color:#FFF; font-size:14px; padding:0 5px; border-radius:2px;}
.account .dl .name input:hover{ background-color:#fffcce;}
.account .dl .name select{width:252px; border:1px solid #d5cec9; height:36px; background-color:#FFF; font-size:14px; padding:0 5px; border-radius:2px; line-height:36px;}
.account .dl .name select:hover{ background-color:#fffcce;}

.account .dl .name2{ font-size:14px; margin:0 0 9px 0;}
.account .dl .name2 span{width:80px; display:block; float:left; line-height:36px;}
.account .dl .name2 p{width:127px; display:block; float:left; margin:0 0 0 10px;}
.account .dl .name2 input{width:100px; border:1px solid #d5cec9; height:36px; background-color:#FFF; font-size:14px; padding:0 5px; border-radius:2px; float:left;}
.account .dl .name2 input:hover{ background-color:#fffcce;}

.account .dl .name3{ font-size:14px; margin:0 0 9px 0; width:450px; display:block; clear:both; line-height:40px;}
.account .dl .name3 input{width:auto; float:left; margin:15px 10px 0 80px;}

.account .dl .log .an{width:100px; text-align:center; background-color:#006489; color:#FFF; padding:6px 16px; font-size:16px; margin:0 0 0 80px;}
.account .dl .log .an:hover{ background-color:#4bc1ed;}

.account .dlr{width:400px; float:right; padding:40px 0 0 50px; color:#444444; line-height:30px;}
.account .dlr a{width:100px; text-align:center; background-color:#5eb990; color:#FFF; padding:6px 10px; display:block; font-size:16px;}
.account .dlr a:hover{ background-color:#7dd5ad;}

#banner{height:416px; width:1009px; margin:0 auto;}

#main{width:980px; margin:0 auto; overflow:hidden;}
#main h2{ font-size:20px; line-height:45px;}
#main .left{ width:260px; float:left;}
#main .left img{ border:4px solid #fff;}
#main .left p{ text-indent:22px; color:#666;}
#main .mid{ width:380px; float:left; margin:0 0 0 30px;}
#main .mid img{ border:4px solid #fff;}
#main .mid .cote{ margin:10px auto;}
#main .mid .cote li a{ height:36px; line-height:36px; border-bottom:1px dotted #CCC; display:block; font-weight:bold; padding:0 5px;}
#main .mid .cote li a:hover{ background-color:#FFF;}

#main .right{ width:257px; float:right; height:400px; background:url(../images/rightbg.png) left top no-repeat; padding:0 0 0 30px;}

#foot{background:url(../images/footbg.gif) top center repeat-x; height:156px; width:100%; padding:40px 0 0 0; font-weight:bold;}
#foot .link{width:980px; margin:0 auto;}
#foot .link li{width:200px; float:left; font-size:14px; color:#000;}
#foot .link li a{width:200px; display:block; line-height:30px;}
#foot .link li a:hover{ text-shadow:1px 1px 1px #333;}

#foot .copyright{width:980px; margin:0 auto; position:relative;}
#foot .copyright p{position:absolute; right:10px; top:0; text-align:right;}

.copyright2{width:980px; margin:0 auto; text-align:left; padding:20px 0; color:#999;}


.login .input{background:url(../images/input.gif) top left no-repeat; width:227px; height:25px; line-height:25px; border:none; margin:5px 0; padding:0 10px; color:#999;}
.login .input2{background:url(../images/input2.gif) top left no-repeat; width:93px; height:25px; line-height:25px; border:none; margin:5px 0; padding:0 10px; color:#999;}
.yzm{width:160px;}
.login img{ margin:20px 4px 0 0;}
.contact{width:240px; margin:28px 0 0 28px;}


/*微软产品页面*/
.product{ width:980px; margin:0 auto; overflow:hidden; color:#717171; padding:0 0 40px 0;}
.product h1{ line-height:20px; padding:20px 0 10px 0;}
.soft01{width:980px; margin:0 auto;}
.soft01 li{width:480px; float:left; border-bottom:1px dotted #CCC; padding:10px 0 20px 0; position:relative;}
.soft01 li img{width:240px; float:left;}
.soft01 li .info{width:220px; float:right;}
.soft01 li .info h3{ font-size:15px; color:#414141;}
.soft01 li .info a{ color:#fff; font-size:12px; display:block; width:80px; text-align:center; background-color:#0b87bf; padding:5px 10px; position:absolute; bottom:20px;}
.soft01 li .info a:hover{background-color:#f25301;}

.product .pro_l{width:240px; float:left;}
.product .pro_l h2{width:240px; float:left; line-height:20px; padding:20px 0 10px 0;}
.product .pro_l dl{ font-size:13px;}
.product .pro_l dl dt{ border-bottom:1px solid #CCC; padding:12px 10px; height:48px; width:240px; display:block; clear:both;}
.product .pro_l dl dt:hover{ background-color:#FFF; cursor:hand;}
.product .pro_l dl dt img{ width:48px; height:48px; float:left; margin:0 10px 0 0;}
.product .pro_l dl dt a:hover{ text-decoration:underline; color:#000000;}

.product .pro_r{width:680px; float:right;}
.product .pro_r h1{font-size:22px; color:#444}



/*add 2014-3-7*/
.product .pro_l2{width:200px; float:left;}
.product .pro_l2 h2{width:200px; float:left; line-height:20px; padding:20px 0 10px 0;}
.product .pro_l2 dl{ font-size:13px;}
.product .pro_l2 dl dt{
width:200px; height:36px; line-height:36px;  font-size:14px;display:block; text-align:center;text-decoration:none;color:#000;clear:both}
.product .pro_l2 dl dt:hover{ background: url(/images/hovbg.gif); color:#FFFFFF;cursor:hand;text-decoration:none}
.product .pro_l2 dl dt img{ width:48px; height:48px; float:left; margin:0 10px 0 0;}
.product .pro_l2 dl dt a:hover{ text-decoration:underline; color:#000000;}

.confont{ line-height:35px; font-size:15px; padding:0; margin:0 auto;}
.confont p{text-indent:2em;font-size:15px; line-height:35px; font-family:"微软雅黑"; margin:5px 0;}
.confont p img{text-align:center;}

.confont2{ line-height:26px; font-size:14px; padding:0; margin:0;}
.confont2 p{text-indent:2em;font-size:14px; line-height:26px; font-family:"微软雅黑"; margin:5px 0;}

.con_jt{ background-color:#f7f6f6; width:673px; padding:10px; margin:0; height:24px;}
.con_jt span{ background:url(/images/fxjt.jpg) no-repeat right center #aa0000; font-size:14px; font-weight:normal; color:#fff; padding:0 20px;}


.message_list { list-style: none; margin:10px auto; padding: 0; width: 680px; font-size:14px; font-weight:normal; font-family:"微软雅黑";}
.message_list li { padding: 0; margin:10px auto;}
.message_head { cursor: pointer; position: relative;}
.message_head .timestamp { color: #666666; font-size: 95%; position: absolute; right: 10px; top: 5px; }
.message_head cite { font-size: 100%; font-style: normal; background:url(/images/fxjt.png) no-repeat right center; padding:5px 20px 5px 10px; height:24px; color:#fff;}
.message_body { padding: 5px 10px 15px; background-color:#f4f4f4;margin-left:50px;}
.message_body2 { padding: 5px 10px 10px;line-height:25px;}
.message_body2 a { color:#000}
.collapse_buttons { text-align: right; padding: 5px 0; width: 383px; }
.collapse_buttons a { margin-left: 15px; float: right; }
.show_all_message { background: url(images/tall-down-arrow.gif) no-repeat right center; padding-right: 12px; }
.show_recent_only { display: none; background: url(/images/tall-up-arrow.gif) no-repeat right center; padding-right: 12px; }
.collpase_all_message { background: url(/images/collapse-all.gif) no-repeat right center; padding-right: 12px; color: #666666; }

.listpage { width: 100%; margin-top: 5px; }
.xspace-page { float: right; }
.xspace-page a, .xspace-page span { float: left; display: inline; margin-right: 3px; line-height: 20px; padding: 0 5px; border: 1px solid; border-color: #CEE3EA #90AAB4 #90AAB4 #CEE3EA; background: #F5FBFF; }
span.xspace-totlerecord, span.xspace-totlepages { color: #090; }
span.xspace-totlerecord { margin-right: 0; border-right: none; }
span.xspace-current { background: #F90; border-color: #0A0 #060 #060 #0A0; color: #FFF; font-weight: bold; }
#showbigpic{position:absolute; top:260px; left:0px;width:600px; background:#FFF; border:1px solid #666; padding:2px; display:none}
.fontbg{padding:10px;  width:670px; display:block;}
.fontbg ul li{ height:40px; line-height:40px; font-size:15px;border-bottom:dotted 1px #CCCCCC; position:relative;}
.fontbg ul li span { position:absolute; right:0; top:6px; }
.fontbg img{ max-width:720px;}